<section data-ng-controller="ArticleVideoController" data-ng-init="findOne()">

	<div class="articleVideo">

		<div class="page-header">
			<h3 data-ng-bind="article.title"></h3>
		</div>
		
		<div class="page-content">
			<p> Titulo Link: {{article.resource.description}}</p>
			<div unvideo code="article.resource.url"></div>
			
		</div>

		<div class="page-content" ng-show="article.content == video" class="extras">
			<p id="comment" class="content" data-ng-bind="article.content" ></p>
			<p> Titulo Link: {{article.resource.description}}</p>
		    <p> Recurso Link: {{article.resource.url}}</p>
		    <p> Status: {{article.status}}</p>
		</div>

	</div>

</section>