<section data-ng-controller="ArticleVideoController" data-ng-init="findOne()">

	<div class="articleVideo">

		<div class="page-header">
			<h3>{{article.title}}</h3>
		</div>
		
		<div class="page-content">
			<p>{{article.resource.description}}</p>
		</div>

		<div class="page-content">
			<!-- <videogular vg-width="config.width" vg-height="config.height" vg-theme="config.theme"> -->
			<videogular vg-theme="config.theme.url" vg-responsive="config.responsive">
    			<video class='videoPlayer' preload='metadata'>
			        <source src='assets/videos/cerebro_enforma.mp4' type='video/mp4' >
			    </video>
			</videogular>
		</div>

	</div>

</section>

