<section data-ng-controller="BoardControllerCreate">
	<div class="page-header">
		<h1>Crear modulo</h1>
	</div>
	<div class="col-md-12">
		<form class="form-horizontal" data-ng-submit="create()" novalidate>
			
			<fieldset>

				<div class="form-group">
					<label class="control-label" for="title">Titulo Modulo</label>
					<div class="controls">
						<input type="text" data-ng-model="name" id="title" class="form-control" placeholder="Titulo Modulo" required>
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label" for="content">Descripcion</label>
					<div class="controls">
						<textarea data-ng-model="descripcion" id="content" class="form-control" cols="30" rows="10" placeholder="Descripcion"></textarea>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label" for="title">Array de articulos</label>
					<div class="controls">
						<input type="text" data-ng-model="articlesArray" id="articlesArray" class="form-control" placeholder="Array" required>
					</div>
				</div>
			



				<div class="form-group">
					<input type="submit" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>

		</form>
	</div>
</section>
