
.addArt2me{
	font-size: 1.2em;
}
.animate-enter {
   -webkit-transition: 2s linear all; /* Chrome */
    transition: 2s linear all;
    opacity: 0;
}

.animate-enter.animate-enter-active {
    opacity: 1;
}


.remArt2me, .addArt2me {
	border: 1px solid black;
	display: block;
	width: 3em;
	height: 3em;
	position: absolute;
	right: 15px;
	top: 15px;
	background: white;
}