[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
/*http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic*/
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(http://themes.googleusercontent.com/static/fonts/robotocondensed/v9/mg0cGfGRUERshzBlvqxeAHmtOlNhzYuCHuWdbmWr-YuglnMp3_3A8V8Ai8YosRtX.woff) format('woff');
}

body{
    background: url(../img/brand/bg-diagpatt.png);
    color: #DFC6A8;
}

.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space:nowrap;
} 
 
.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    width: 0px;
    height: 0px;
}
 
.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    width: 150px;
    height: 30px;
}


.vive{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 2em;
    color: #FAF1BC;
    ;
}
.tuimagen{
    display: block;
    margin: auto;
    width: 185px;
    height: 190px;
}
.lead{
    
}
.skinAction-btn{
    background: #FAD5BC;
    color: black;
}

.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}


.readerContainer{
    background: black;
    -webkit-box-shadow: inset 1px 1px 2px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 1px 1px 2px 2px rgba(0,0,0,0.75);
    box-shadow: inset 1px 1px 2px 2px rgba(0,0,0,0.75);
    padding: 10px;
    border-radius: 6px;
    overflow: hidden;

}
.readerBox{
    background:whitesmoke;
    border-radius: 5px;
    padding: 10px;

}

.reader {
    padding: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 2.6em;
    font-family: verdana;
    margin-bottom: 30px;
    position: relative;
    height: 2.2em;
    line-height: 2.2em;
    display: block;
    margin: auto;
    color: black;
}

.reader::before, .reader::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    height: 10px;
    background-color: black;
    width: 2px;
    top: 0;
}

.reader::after {
    top: auto;
    bottom: 0;
}

.word {
    position: absolute;
}

.highlight {
    color: #c00;
}

.progress{ 
    height: 0.14em;
    margin-bottom: 0;
    width: 98.4%;
    margin: auto;
}
    .progress-bar{
         background: red;
    }

.speedControl{
    text-align: center;
} 
.speedControl li{
    line-height: 21px;
    vertical-align: middle;
} 
.speedControl > li:nth-child(2){
    width: 50%;
}
.speedMore, .speedLess{
    cursor: pointer;
}

.readerControllButtons{
    font-size: 2.2em;
    text-align: center;
    max-width: 280px;
    margin: auto;
    padding-left: 0;
}

.readerControllButtons li{
    cursor: pointer;
    margin: 20px;
    color: #828282;
}
.sliderValue{
    text-align: center;
    color: #828282;
}

.statusIconOk {
    float: right;
    margin-top: -40px;
    background: black;
    padding: 10px;
    border-radius: 20px;
}

.maskara { width: 350px; height: 263px; border-radius:30px; overflow: hidden; box-shadow: 5px 5px 5px rgba(0,0,0,0.3); transform: rotate(4deg);
