<section data-ng-controller="EmodulesController" data-ng-init="findAll()">
	
	<div class="page-header"><h1>Todos los Modulos</h1></div>

	<div data-ng-repeat="emodule in emodules" class="list-group-item animate" href="#" >
		<h4 class="list-group-item-heading"> {{emodule.name}}</h4>
		<!-- <a class="glyphicon glyphicon-edit"="/#!/emodule/{{emodule._id}}/edit">Editar</a> -->
		<p> {{emodule.descripcion}} </p>
	</div>

	<div class="alert alert-warning text-center" data-ng-if="emodules.$resolved && !emodules.length">No hay Modulos</div>

</section>