<section data-ng-controller="ArticlesController" data-ng-init="find()">
	<div class="page-header">
		<h1>Todos los Articulos</h1>
	</div>
	
	<div class="list-group">

		<a data-ng-controller="MyArticlesController" data-ng-repeat="article in articles | filter:filterAlreadyAdded" class="list-group-item">
			<button data-ng-click="addArt2me($index, article)" class="glyphicon glyphicon-plus addArt2me" ></button>
			<h4 class="list-group-item-heading" data-ng-bind="article.title"></h4>
			<p> {{article.content | limitTo:140}} </p>
		</a>

	</div>
	
	<div class="alert alert-warning text-center" data-ng-if="articles.$resolved && !articles.length">No hay mas articulos en este momento</div>
</section>